@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  padding: 4rem 0;
}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}

.page-header {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.markdown {
  margin-bottom: .8em;
}

.fixed-bottom .nav-item {
  max-width: 10rem;
  min-height: 3.5rem;
  padding: 0.625rem 0;
}

.max-wd-60{
  max-width: 60rem;
}

.fixed-top .nav-link{
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.fixed-top .navbar-brand{
  margin-left: 0.5rem;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
