{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans 'Articles' %} {% endblock %}

{% block head %}
  <!-- <link href="{% static 'css/articles.css' %}" rel="stylesheet"> -->
{% endblock head %}

{% block main %}
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 pr-5 pl-5 max-wd-60">
      <section class="articles">
        {% for article in articles %}
          {% include 'articles/partial_article.html' with article=article is_articles=forloop %}
        {% empty %}
          <h4 class="no-data">{% trans 'There is no published article yet' %}. <a href="{% url 'write' %}">{% trans 'Be the first one to publish' %}!</a></h4>
        {% endfor %}
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 pr-5 pl-5 max-wd-60">
      {% include 'paginator.html' with paginator=articles %}
    </div>
  </div>
{% endblock main %}

{% block nav %}
  {% with tab="articles" %}
    {{block.super}}
  {% endwith %}
{% endblock nav %}
